.browse-page {
	max-width: 60rem;
	margin: 0 auto;
}

.results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 1rem;

	.channel-card {
		grid-column: 1 / -1;
	}
}
