.add-channel-page {
	max-width: 60rem;
	margin: 0 auto;
}

.add-channel {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	gap: 0.5rem;

	max-width: 20rem;
}

.channel-add-form {
	display: flex;
	gap: 0.5rem;

	> :first-child {
		flex-grow: 1;
	}

	.channel-add-multiple {
		textarea {
			height: 15rem;
		}
	}
}

.last-channel-exists {
	opacity: 0.75;
}
