:root {
	--timberwolf: #cfdbd5;
	--alabaster: #e8eddf;
	--maize-crayola: #f5cb5c;
	--eerie-black: #242423;
	--jet: #333533;

	--flame: #e4572e;
	--baby-blue: #70d6ff;
	--maize-crayola: #f5cb5c;

	--primary: var(--eerie-black);
	--secondary: var(--timberwolf);
}

:root[data-theme='theme-light'] {
	--background-colour: #fff;
	--text-colour: #000;

	--card-background: rgb(252, 252, 252);
	--card-border: rgb(214, 214, 214);
	--card-highlight: rgb(136, 136, 136);
	--card-highlight-text-colour: #fff;
}

:root[data-theme='theme-dark'] {
	--background-colour: #000;
	--text-colour: #fff;

	--card-background: rgb(32, 32, 32);
	--card-border: rgb(54, 54, 54);
	--card-highlight: rgb(77, 77, 77);
	--card-highlight-text-colour: #fff;
}
