.watch-page {
	max-width: 80rem;
	margin: 0 auto;
}

.spacer {
	border-top: 1px solid var(--card-border);

	margin-top: 1rem;
	margin-bottom: 1rem;
}

.video {
	.video-player {
		width: 100%;
		max-height: 80vh;
		outline: none;

		transition: opacity 0.15s;

		&.loading-video {
			opacity: 0;
		}
	}

	.video-info {
		display: flex;
		justify-content: space-between;
		align-items: end;

		padding-top: 0.65rem;
		margin-bottom: 1rem;

		.views-and-date {
			opacity: 0.75;
		}

		.likes {
			.like-number {
				font-weight: bold;
			}

			> :not(.like-number) {
				opacity: 0.75;
			}
		}
	}

	.video-channel {
		display: flex;
		gap: 0.75rem;

		margin-bottom: 1rem;

		.channel-avatar {
			width: 4rem;
			height: 4rem;
			border-radius: 0.25rem;
		}

		.channel-name-and-subs {
			.channel-name {
				font-size: 1.1em;

				font-weight: bold;
			}

			.channel-subs {
				font-size: 0.9em;
				opacity: 0.75;
			}
		}
	}

	.video-description {
		background-color: var(--card-background);
		border: 1px solid var(--card-border);

		padding: 1rem;
		margin-bottom: 1rem;

		overflow-wrap: break-word;
	}

	.comment-count {
		opacity: 0.75;
	}

	.comments {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.comment {
			display: flex;
			flex-direction: column;

			background-color: var(--card-background);
			border: 1px solid var(--card-border);

			padding: 0.5rem;

			border-radius: 0.25rem;

			.comment-main {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				.comment-top {
					display: flex;
					gap: 0.75rem;

					.channel-avatar {
						width: 3rem;
						height: 3rem;
						border-radius: 0.25rem;
					}

					.comment-name-and-text {
						.channel-name {
							display: inline;

							font-weight: bold;

							&.uploader {
								background-color: var(--card-highlight);
								color: var(--card-highlight-text-colour);

								padding: 0rem 0.25rem;

								border-radius: 0.25rem;
							}
						}

						.comment-text {
							margin-top: 0.1rem;

							font-size: 0.9em;
							opacity: 0.75;
						}
					}
				}

				.comment-bottom {
					display: flex;
					flex-direction: column;

					font-size: 0.9em;

					.comment-likes {
						.comment-like-number {
							font-weight: bold;
						}

						&:not(.comment-like-number) {
							opacity: 0.75;
						}
					}

					.favourited {
						opacity: 0.75;
					}
				}
			}

			.comment-replies {
				display: flex;
				flex-direction: column;
				gap: 0.75rem;

				margin-top: 1rem;
			}
		}
	}
}
